# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r
#
# https://stackoverflow.com/questions/39728709/using-an-alternate-complier-for-travis-ci-r-project-builds

language: R
cache: packages
sudo: false
warnings_are_errors: true

before_install:
  - source before-install.sh

os:
  - linux
#  - osx

addons:
  apt:
    packages:
      - gcc-4.9
      - g++-4.9
      - clang

r:
  - release
  - devel
#  - oldrel

env:
#  - COMPILER=gcc-4.9
  - COMPILER=gcc
#  - COMPILER=clang

r_packages:
  - covr

after_success:
  - Rscript -e 'library(covr); codecov()'
